<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>飲食店の採用効率を高めるきっかけ作り</h1>
        <a href="" class="btn btn-success btn-lg">ＴＯＲＥＴＡ？を始める</a>
      </div>
    </div>
  </div>
<% end %>

<p>テスト</p>