<div class="company-profile">
  <div class="icon text-center">
    <img src="<%= gravatar_url(@company, size: 100) %>" alt="" class="img-circle">
  </div>
  <div class="name text-center">
    <h1><%= @company.name %></h1>
  </div>
</div>